<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<header>
		<h2>Todoアプリ</h2>
	</header>
	<main>
		<form action="/login" method="post">
			
				<label for="email" class="form-label">ユーザー名</label>
			<input type="text" name="name" placeholder="ユーザー名"
			class="form-label"required><br>
			
				<label for="password" class="form-label">パスワード</label>
			<input type="password" name="password" placeholder="パスワード"
			class="form-label"required><br>
	
			<button type="submit" class="btn-login">ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<br>
		<a href="/users/new">新規登録</a>
	</main>
</body>
</html>

