<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規タスク作成</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<header th:replace="~{header}"></header>
</head>

<body>
	<main>
		<h1>新規タスク作成</h1>

		<table border="1">
			<form action="/tasks/create" method="post">
				<div th:if="${errorList}">
				    <ul>
				        <li th:each="error : ${errorList}"
				            th:text="${error}"
				            style="color:red">
				        </li>
				    </ul>
				</div>
				<tr>
				    <th>カテゴリー</th>
				    <td>
				        <input type="radio" name="categoryId" value="1" th:checked="${categoryId == 1}" />
				        <label for="contactChoice1">仕事</label>
				        <input type="radio" name="categoryId" value="2" th:checked="${categoryId == 2}" />
				        <label for="contactChoice2">日常</label>
				    </td>
				</tr>

				<tr>
					<th>タイトル</th>
					<td>
						<input type="text" name="title" th:value="${title}">
					</td>
				</tr>
				<tr>
				    <th>進捗状況</th>
				    <td>
				        <div>
				            <input type="radio" name="progress" value="2" th:checked="${progress == 2}">
				            <label>進行中</label>
				            <input type="radio" name="progress" value="3" th:checked="${progress == 3}">
				            <label>未着手</label>
				        </div>
				    </td>
				</tr>
				<tr>
					<th>タスク開始日</th>
					<td>
						<input type="date" name="date" th:value="${date}">
					</td>
				</tr>
				<tr>
					<th>期限</th>
					<td>
						<input type="date" name="closingDate" th:value="${closingDate}">
					</td>
				</tr>
				<tr>
					<th>予定完了時間</th>
					<td>
						<input type="number" name="time" th:value="${time}">
					</td>
				</tr>
				<tr>
					<th>メモ</th>
					<td>
						<textarea maxlength="60" name="memo" th:text="${memo}"></textarea>
					</td>
				</tr>
		</table>
		<button>新規作成</button>
		</form>
	</main>
	<hr>
</body>

</html>