<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク</title>
	<button onclick="confirmLogout()">ログアウト</button>
</head>

<body>
	<main>
		<h3>タスク</h3>
		<td>
			<form>

				<a href="/task">全て</a>
				<a href="/task?categoryId=2">日常</a>
				<a href="/task?categoryId=1">仕事</a>
			
			</form>
		</td>
		<table border="1">
			<tr>
				<th>タイトル</th>
				<th>進捗状況</th>
				<th>開始日</th>
				<th>期限</th>
				<th>メモ</th>
				<th>操作</th>
			</tr>
<!--			<tr>-->
<!--				<td th:text="${task.title}"></td>-->
<!--			</tr>-->
			<tr th:each="task : ${tasks}">
				<td th:text="${task.title}"></td>
				<td th:text="${task.progress}"></td>
				<td th:text="${task.date}"></td>
				<td th:text="${task.closingDate}"></td>
				<td th:text="${task.memo}"></td>
				<td>
				<a th:href="@{/tasks/{id}/edit(id=${task.taskId})}">更新</a>
				<form th:action="@{/tasks/{id}/delete(id=${task.taskId})}" method="post">
					<button>削除</button>
				</form>
				</td>
			</tr>
			<tr>
				<form action="/tasks/create" method="get">
					<button>新規作成</button>
				</form>
			</tr>



		</table>

	</main>
	<hr>
</body>

</html>