<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク</title>
	<a href="/users/new">ログアウト</a>
</head>

<body>
	<main>
		<h3>タスク</h3>
		<form>
			<label>
				<input type="radio" name="category" onchange="location.href='http://localhost:8080/task/all'" /> 全て
			</label><br />
			<label>
				<input type="radio" name="category"
					onchange="location.href='http://localhost:8080/task/everydayLife'" /> 日常
			</label><br />
			<label>
				<input type="radio" name="category" onchange="location.href='http://localhost:8080/task/work'" /> 仕事
			</label><br />

			<table border="1">
				<tr>
					<th>タイトル　進捗状況　開始日　期限　メモ　操作</th>

				</tr>
				<tr>
					<th>予定時間</th>
				</tr>
				<tr>
					<th>本日のタスク</th>
				</tr>
				<tr th:each="task : ${tasks}">
					<td th:text="${task.title}"></td>
					<td th:text="${task.progress}"></td>
					<td th:text="${task.date}"></td>
					<td th:text="${task.closingDate}"></td>
					<td th:text="${task.memo}"></td>
				</tr>
				<tr>
					<form action="/tasks/{id}/edit" method="post">
						<button>進捗更新</button>
					</form>
				</tr>
				<tr>
					<form action="/tasks/{id}/delete" method="post">
						<button>削除</button>
					</form>
				</tr>
				<tr>
					<form action="/tasks/create" method="get">
						<button>新規作成</button>
					</form>
				</tr>



			</table>
		</form>
	</main>
	<hr>
</body>

</html>